*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 14px;
  font-weight: 400;
  font-family: 'OpenSans', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  list-style-type: none;
}

button {
  padding: 0;
  margin: 0;
  outline: none;
  box-shadow: none;
  font-size: 18px;
  font-weight: 600;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

body {
  position: relative;
  min-width: 320px;
  margin: 0;
  padding: 0;
  outline: none;
}

label {
  display: block;
  cursor: pointer;
}

.title-reset {
  margin: 0;
}

.descr-reset {
  margin: 0;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.btn-reset {
  background-color: transparent;
  cursor: pointer;
  padding: 0px;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* убрать крестик у инпута */
input[type='text']::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type='text']::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}

/* убрать стрелки от номера у инпута */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

/* ticker */

.ticker-img {
  margin-top: 100px;
  margin-bottom: 100px;
  padding-left: 20px;
  padding-right: 20px;
  width: 50%;
  max-width: 566px;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 20px;
  border: 3px solid purple;
  background-color: rgba(221, 213, 213, 0.5);
  border-radius: 8px;
}

.ticker-img__container {
  max-width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;

  position: relative;

  overflow: hidden;
  user-select: none;
  gap: 20px;
}

.ticker-img__container:before,
.ticker-img__container:after {
  content: '';
  height: 5%;
  left: 0;
  width: 100%;
  position: absolute;
  z-index: 1;
  pointer-events: none;
}

.ticker-img__container:before {
  top: 0;
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
}

.ticker-img__container:after {
  bottom: 0;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
}

.ticker-img__items {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-around;
}


.ticker-img__item {
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 3px solid purple;
  border-radius: 13px;

  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
}

.marquee {
  animation: scroll 30s linear infinite;
}

.reverce {
  animation-direction: reverse;
}

.ticker-img__container:hover .marquee {
  animation-play-state: paused;
}

.ticker-img__item:hover {
  opacity: 0.5;
}

@keyframes scroll {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(calc(-100%));
  }
}